{% load thread_extras %}
{% load static from staticfiles %}
<div class="details col-sm-6 col-md-6 col-lg-6 ">
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="pull-right">
            {% if post.user == user or user.is_staff %}
                <a href="{% url 'edit_post' thread.id post.id %}">
                    <i class="fa fa-pencil-square-o fa-2x"></i>
                </a>
                <a href="{% url 'delete_post' post.id %}">
                    <i class="fa fa-trash-o fa-2x"></i>
                </a>
            {% endif %}
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
        <div class="">
            <time class="customfont" datetime="{{ post.created_at }}">
                <p class="commentsmall customfont">Posted: {{ post.created_at|started_time }}</p>
            </time>
        </div>
    </div>
</div>