{% extends "base.html" %}
{% load static from staticfiles %}
{% load thread_extras %}
   {% load bootstrap_tags %}
{% block content %}
    <section class="bg-primary offerpage" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    {% if messages %}
                        <div class="alert alert-success">
                            <div class="messages">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    <section class="subject ">
                        <div class="mainforum">
                            {% for subject in subjects %}
                                <div class="forumthreads col-sm-12 col-md-12 col-lg-12">
                                    <h2><a class="customfont" href="{% url "threads" subject.id %}">{{ subject.name }}</a></h2>
                                    <p class="customfont">{% autoescape off %}{{ subject.description }}{% endautoescape %}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
