{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load static from staticfiles %}
{% block head_js %}
<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script type="text/javascript">
 tinyMCE.init({
   mode: "textareas",
   theme: "modern",
   plugins: "paste"
});
</script>
{% endblock %}
{% block content %}

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    {% if messages %}
                            <div class="alert alert-success">
                                <div class="messages">
                                    {% for message in messages %}
                                    {{ message }}
                                    {% endfor %}
                                </div>
                            </div>
                    {% endif %}
                     <section>
                        <div class="col-md-9 col-md-offset-2 customfont">
                            <form method="post" action="{{ form_action }}">
                                {% csrf_token %}
                                {{ form|as_bootstrap }}
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary custombutton boxshadow customfont">Post</button>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
