{% extends "base.html" %}
{% load thread_extras %}
{% load static from staticfiles %}
{% block content %}

    <section class="bg-primary" id="about">
        <div class="container">
            <div >
                {% if messages %}
                    <div class="alert alert-success">
                        <div class="messages">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div class="col-sm-12 col-md-12 col-lg-12 text-center threadcontain">
                        <div class="threadname">
                            <h2 class="customfont">{{ thread.name }}</h2>
                        </div>
                        <div class="threadrow">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 threadheaders">
                                    <p class="customfont">Created</p>
                                    <time class="customfont" datetime="{{ thread.created_at }}">{{ thread.created_at|started_time }}</time>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 threadheaders">
                                    <p class="customfont">Owner</p>
                                    <p class="customfont">{{ thread.user.username }}</p>
                                </div >
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 threadheaders customfont"><p>Last Post</p></div>
                        </div>
                            {% for post in thread.posts.all %}
                                {% include "post.html" %}
                            {% endfor %}
                        <div >
                            {% if user.is_authenticated %}
                                <a href="{% url 'new_post' thread.id %}" class="btn btn-primary custombutton newpostbutton boxshadow customfont">New post</a>
                            {% endif %}
                        </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
